@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Transition for rotate icon */
.rotate-icon {
  transform: rotate(0deg);
  transition: transform 0.5s ease-in-out;
}

.rotate-icon.open {
  transform: rotate(180deg);
}

/* Transition for dropdown */
.dropdown-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.dropdown-content.open {
  max-height: 500px; /* ปรับตามความสูงของเนื้อหา */
}


.projects {
  display: grid;
  grid-gap: 1.5rem;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.projects.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.projects.fade-out {
  opacity: 0;
  transform: translateY(20px);
}

.carousel .slide {
  user-select: none;  /* ป้องกัน Selection Overlay */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.carousel .control-arrow {
  z-index: 10; /* ป้องกันลูกศรหาย */
}


.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #858585;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #303030;
  border-radius: 10px;
}